.calories {
  font-weight: bold;
  font-size: 20px;
  margin-top: -10px;
}

.image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.list {
  margin: 0 20px 20px 20px;
}

.recipe {
  border-radius: 10px;
  box-shadow: 0 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}

.title {
  margin: 10px 20px 10px 20px;
}
